# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native builds
ios/
android/

# Environment
.env
.env.local
.env*.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# EAS / Expo tokens
tokens/
.github/workflows/
.env.notion
